*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.nav-bar ul {
    list-style: none;
    display: flex;
    margin-top: 20px;
    padding-bottom: 5px;
}
.nav-bar ul li {
    font-size: larger;
    font-weight: 600;
}
.nav-bar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
.nav-bar ul li a:hover{
    background-color: brown;
}